<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" />
    <title>{{title}} ({{date}})</title>
</head>

<body>
    {{> nav}}
    <script>
        markdown_url = "{{markdown_url}}"
    </script>
    {{> markdown_script }}
</body>

</html>
