body {
font-family: 'Chakra Petch', sans-serif;
}

a {
    color: black;
    border: 1px dashed;
    border-color: transparent;
}
a:hover {
    color: black;
    border: 1px dashed;
    border-color: black;
}

blockquote {
  background: #f9f9f9;
  border-left: 3px solid #ccc;
  margin: 10px;
  padding: 10px;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
}

blockquote:after {
  color: #ccc;
  content: close-quote;
}

blockquote p {
  display: inline;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.nav li a:hover {
}


#TOC {
    border: 1px solid;
}

#TOC ul {
    list-style-type: none;
}
